2_3_yr_AI_ML_Engg_task.pdf
Documentation.docx
inpainted_image.jpg
inpainted_image_debug.jpg
inpainted image.ipynb
inpainted image 2.ipynb
inpainting image 3.ipynb
inpainting image 4.ipynb
inpainting_model.pth
Kernel_selection.png
main.py
run_all.png
sample.py